.popular-song {
	text-align: center;
	outline: none;

	&:hover {
		cursor: pointer;
	}

	.img-container {
		position: relative;

		.popular-song-img {
			position: relative;
			width: 80%;
			border-radius: 12px;
			z-index: 1;
			transition: .4s;
			transition-timing-function: cubic-bezier(.47, -0.31, .48, 1.56);

			&:hover {
				transform: rotateX(-15deg) rotateY(11deg);
			}
		}
	}
}