/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}
html {
  background: radial-gradient(ellipse at top, rgba(6,17,61, .4) 40%, rgba(51,16,51,.4) 100%);
  background-attachment: fixed;
  background-color: #222122;
}
body {
  height: 100vh;
  width: 100vw;
  color: #eaeaea;
}
